@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,800&family=Raleway:ital,wght@0,400;0,600;1,600&display=swap");

$montserrat: "Montserrat", sans-serif;
$raleway: "Raleway", sans-serif;

$navbar: #d76433;
$header: #f67a25;

$white: #fff;
$black: #000;
$text-logo: #196c40;
$btn: #bf0aa1;
$card: #0cb4b4;
